.hobbiesContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hobbiesContainer div{
    width: 30%;
    height: fit-content;
}
.hobbiesText p{
    line-height: 1.5;
    font-size: 1.5em;
}
.hobbiesContainer div h4{
    height: fit-content;
    text-align: center;
    padding: 15px;
}
.booksAndVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90vw;
}
.fox{
    max-width: 80vw;
    filter: grayscale(80%);
}
.favoritesBooks{
    display: flex;
    margin-top: 25px;
}
.favoritesBooks img{
    width: 95px;
    height: 25vh;
    filter: grayscale(100%);
}
.favoritesBooks img:hover{
    filter: none;
    transform: scale(1.5);
    box-shadow: 4px 4px 1px var(--textColor);
    z-index: 10000;
}
.guitar{
    height: 50vh;
    transform: rotate(20deg);
    margin-left: 100px;
    filter: grayscale(100%);
    margin-bottom: 50px;
}
.guitar:hover{
    filter: none;
}