.sidebar{
    background-color: var(--bg-color);
    z-index: 1000000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid var(--primary-color);
    animation: fadeIn 0.75s forwards;
}
/* coordinateCard */
.sidebar > .coordinateCard{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.sidebar > .coordinateCard > a{
    padding: 10px;
    text-align: left;
    font-size: 1.1em;
    color: var(--text-color);
}
.sidebar > .coordinateCard > a:hover{
    color: var(--text-color-alt);
    background: var(--primary-color);
    border-radius: 4px;
}
/* form */
.sidebar > .contactForm{
    display: flex;
    height: 75%;
    width: 80%;
    margin: auto;
    flex-direction: column;
    border-top: 0.5px solid var(--bg-color);
}
.sidebar > .contactForm > h3{
   margin: auto;
   font-size: 1.5em;
   line-height: 1.2em;
}
.sidebar > .contactForm > label{
    text-align: left;
    font-size: 0.9em;
    color: var(--text-color);
    padding-top: 15px;
    padding-bottom: 5px;
}
.sidebar > .contactForm > input[type="text"], .sidebar > .contactForm > input[type="email"]{
    border: none;
    font-size: 0.9em;
    padding: 10px 0px;
    text-indent: 15px;
    border: 1px solid var(--primary-color);
}
.sidebar > .contactForm > textarea{
    resize: none;
    border: none;
    height: 40%;
    font-size: 0.9em;
    padding-top: 5px;
    border: 1px solid var(--primary-color);
}
/* smoothButtons at bottom */
.sidebarBottom ul{
    display: flex;
    justify-content: space-around;
}
.sidebarBottom ul li {
    color: var(--primary-color);
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 15px 0px;
    z-index: 1;
    transition: 0.2s;
    cursor: pointer;
}
.smoothButtons ul li button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--text-color);
    border-bottom: 2px solid var(--secondary-color);
}
.smoothButtons ul li span {
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: var(--secondary-color);
    transform: translateY(125%);
    border-radius: 50%;
    right: calc((var(--n) - 1) * 10%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.15s);
    z-index: -1;
}
.smoothButtons ul li:hover {
    box-shadow: -2px 0px 10px var(--secondary-color);
}
.smoothButtons ul li:hover button {
    color: var(--text-color-alt);
    border-bottom: 2px solid var(--text-color-alt);
}
.smoothButtons ul li:hover span {
    transform: translateY(0) scale(2);
}
.smoothButtons ul li span {
    --n: 2;
} 
@media (max-width: 780px) {
  .sidebar{
      width: 50vw;
  }
}
@media (max-width: 480px) {
  .sidebar{
      width: 100vw;
  }
}