/* ROOT PART */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root{
    --textColor: rgb(46, 46, 46);
    --textColorHover: rgba(0, 0, 0, 0.582);
    --bg: #fdfaf6;
}
/* RESET PART */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  background: none;
  scroll-behavior: smooth;
}
a, input[type="submit"], button {
  cursor: pointer;
  font-weight: bold;
}
a:hover{
  color: var(--textColorHover);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p, a, label, input, div, textarea, button {
  font-size: 12px;
  color: var(--textColor);
  font-family: 'Mate SC', serif;
}
/* BODY PART */
.bold{
  font-weight: bold;
}
.hugeLetters{
  font-size: 1.8em;
}
#body{
  background-color: var(--bg);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: var(--textColor);
}
.line{
  background-color: var(--textColor);
  height: 8px;
  width: 75%;
  border-radius: 1.5px;
}
.line2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu{
  padding-top: 15px;
  width: 80px;
  position: fixed;
  right: 0;
  z-index: 1;
}
.menu:hover{
  cursor: pointer;
}
.active{
  padding-bottom: 50px;
}
.active .line1{
  animation: anim-line1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.active .line2{
  display: none;
}
.active .line3{
  animation: anim-line3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.close .line1{
  animation: anim-back-line1 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.close .line2{
  display: block;
}
.close .line3{
  animation: anim-back-line3 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}
.menuWindow{
  position: fixed;
  right: -400px;
  margin-top: 75px;
  padding: 50px 50px 50px 50px;
  border-left: var(--textColor) solid 0.5px;
  border-bottom: var(--textColor)  solid 0.5px;
  width: fit-content;
  height: 250px;
  z-index: 1000;
  background-color: var(--bg);
}
.show {
  -webkit-animation: slideIn 0.85s forwards;
  -moz-animation: slideIn 0.85s forwards;
  animation: slideIn 0.85s forwards;
}
.hide{
  -webkit-animation: slideOut 1.5s forwards;
  -moz-animation: slideOut 1.5s forwards;
  animation: slideOut 1.5s forwards;
} 
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul li a{
  font-size: 2em;
}
.page{
  transform: translateY(-1000px);
  scroll-behavior: smooth;
  height: 98vh;
  width: 98vw;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 100px;
  font-family: 'Mate SC', serif;
  -webkit-animation: fadein 1s forwards ease-in-out; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s forwards ease-in-out; /* Firefox < 16 */
        -ms-animation: fadein 1s forwards ease-in-out; /* Internet Explorer */
         -o-animation: fadein 1s forwards ease-in-out; /* Opera < 12.1 */
            animation: fadein 1s forwards ease-in-out;
}
.page:nth-child(5){
  margin-bottom: 0px;
}
.page h1{
  text-align: left;
}
.page .border{
  background-color: var(--textColor);
  height: 1.5px;
  width: 10vw;
}
.nextPage, .prevPage{
  font-size: 4em;
  position: fixed;
  bottom: 10px;
  opacity: 0.2;
  z-index: 1000000;
}
.nextPage{
  left: 10px;
}
.prevPage{
  right: 10px;
}
.nextPage:hover, .prevPage:hover{
  opacity: 1;
}
.copyright{
  position: fixed;
  bottom: 0%;
  right: 5%;
}
/* KEYFRAMES */
/* FADE IN ANIM */
@keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(-1000px);
   }
  to   { 
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(-1000px);
   }
  to   { 
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(-1000px);
   }
  to   { 
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(-1000px);
   }
  to   { 
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(-1000px);
   }
  to   { 
    opacity: 1;
    transform: translateY(0px);
  }
}
/* MENU */
@keyframes anim-line1{
  0% {
      transform: translate3d(0, 0, 0) rotate(0deg);
}
50% {
      transform: translate3d(0, 22px, 0) rotate(0);
}
100% {
      transform: translate3d(0, 20px, 0) rotate(45deg);
}
}

@keyframes anim-line3{
0% {
      transform: translate3d(0, 0, 0) rotate(0deg);
}
50% {
      transform: translate3d(0, -22px, 0) rotate(0);
}
100% {
      transform: translate3d(0px, 11px, 0) rotate(135deg);
}
}

@keyframes anim-back-line1{
  0% {
      transform: translate3d(0, 22px, 0) rotate(45deg);
}
50% {
      transform: translate3d(0, 22px, 0) rotate(0);
}
100% {
      transform: translate3d(0, 0, 0) rotate(0deg);
}
}

@keyframes anim-back-line3{
  0% {
      transform: translate3d(0, -22px, 0) rotate(135deg);
}
50% {
      transform: translate3d(0, -22px, 0) rotate(0);
}
100% {
      transform: translate3d(0, 0, 0) rotate(0deg);
}
}
@-webkit-keyframes slideOut {
  0% {
      right: 0px;
    }
    100% {
      right: -400px;
    }
}
@-moz-keyframes slideOut {
  0% {
    right: 0px;
    }
    100% {
      right: -400px;
    }
}
@keyframes slideOut {
  0% {
    right: 0px;
  }
  100% {
    right: -400px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}
@-moz-keyframes slideIn {
  0% {
    right: -400px;
    }
    100% {
      right: 0px;
    }
}
@keyframes slideIn {
  0% {
    right: -400px;
    }
    100% {
      right: 0px;
    }
}
/* MEDIAQUERIES */
@media only screen and (max-width: 1020px){
  /* APP */
  .copyright{
    display: none;
  }
  /* ABOUT ME */
  .part1{
    justify-content: space-around;
  }
  .aboutMe{
    max-height: 50vh;
    overflow: scroll!important;
  }
  /* CONTACT */
  .contactContainer{
    flex-wrap: wrap;
  }
  .send-success{
    max-width: 40vw!important;
  }
  .prevCV{
    transform: none;
    width: 25vw;
    height: 25vh!important;
  }
  /* SLIDERS */
  .slider{
    flex-direction: column-reverse!important;
  }
  .slide figure{
    max-height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .slide figure img{
    max-width: 98vw!important;
    max-height: 40vh;
  }
  .slide figure figcaption{
    font-size: 2em;
    width: 90vw!important;
    text-align: center;
  }
  .arrows{
    width: 65vw!important;
    position: absolute;
    top: 250px;
  }
  .arrows div{
    color: white;
    text-shadow: 3px 3px 3px black;
  }
  /* HOBBIES */
  .hobbiesContainer{
    max-width: 90vw;
    flex-wrap: wrap;
  }
  .hobbiesContainer .hobbiesText{
    width: 90%!important;
  }
  .hobbiesContainer div{
    width: 45%!important;
  }
  .favoritesBooks img{
    transform: none!important;
    height: 20vh!important;
    filter: grayscale(100%);
  }
  .guitar{
    height: 25vh!important;
    margin-left: 100px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 760px) {
  /* APP */
  .page{
    height: fit-content!important;
    margin-bottom: 25px!important;
  }
  .page div:not(.border){
    max-width: 90vw;
  }
  .nextPage, .prevPage{
    right: 10px!important;
    left: auto!important;
    bottom: auto!important;
    position: fixed!important;
  }
  .prevPage{
    top: 100px!important;
  }
  .nextPage{
    top: 150px!important;
  }
  .menu{
    right: 10px;
  }
  .copyright{
    display: none;
  }
  /* ABOUT */
  h1{
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
  }
  .profilePicture{
    margin-left: 25px;
    margin-bottom: 5px;
  }
  p{
    font-size: 1em!important;
    line-height: 1.4!important;
  }
  .skills span{
    font-size: 1em!important;
  }
  h4{
    font-size: 1.5em;
  }
  .parts{
    flex-direction: column;
    align-items: center;
  }
  .part1{
    margin-bottom: 50px;
  }
  .part2{
    width: 80vw;
    margin-bottom: 50px;
  }
  .aboutMe{
    width: 100%;
  }
  /* CONTACT */
  .contactContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactPart1{
    align-items: flex-start;
  }
  .contact-form{
    width: 90vw!important;
  }
  .contact-form input:not(input[type=submit]), .contact-form textarea{
    width: 80vw!important;
  }
  .send-success{
    max-width: 80vw!important;
    margin-top: 25px;
    margin-bottom: 15px!important;
  }
  .contactPart1 a{
    margin-bottom: 0px!important;
  }
  .contactPart2{
    align-items: flex-start;
    width: 80vw;
  }
  .cvButton{
    margin-top: 25px!important;
    margin-bottom: 25px!important;
    font-size: 2em!important;
    width: 80vw!important;
    text-align: center;
  }
  .links{
    align-items: flex-start;
    width: 80vw;
    padding-left: 25px;
  }
  .prevCV{
    display: none;
  }
  /* SLIDER */
  .slider{
    margin-top: 100px;
    flex-direction: column-reverse!important;
  }
  .slide figure{
    max-height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .slide figure img{
    max-width: 98vw!important;
    max-height: 40vh;
  }
  .slide figure figcaption{
    font-size: 2em;
    width: 90vw!important;
    text-align: center;
  }
  .arrows{
    width: 90vw!important;
    position: absolute;
    top: 325px;
  }
  .arrows div{
    color: white;
    text-shadow: 3px 3px 3px black;
  }
  /* HOBBIES */
  .hobbiesContainer{
    width: 90vw!important;
    flex-direction: column;
    align-content: center!important;
    justify-content: center!important;
  }
  .hobbiesContainer div{
    width: unset!important;
  }
  .hobbiesContainer div h4{
    width: 70vw!important;
  }
  .booksAndVideo, .guitarPart{
    align-self: center!important;
    width: 90vw!important;
  }
  .fox{
    margin-top: 5px;
    margin-left: 15px;
  }
  .favoritesBooks{
    display: flex!important;
    max-width: unset!important;
    width: 90vw!important;
    flex-wrap: wrap!important;
    justify-content: space-between;
  }
  .favoritesBooks img{
    width: 35vw!important;
    height: auto!important;
    box-shadow: unset!important;
  }
  .guitar{
    height: 25vh!important;
    transform: rotate(60deg)!important;
    margin-bottom: 0px!important;
  }
}